@model Marketplace_Zapatos.Models.TableViewModels.ProductoConImagenesTableViewModel

@{
    ViewBag.Title = "Mis Productos";
    Layout = "~/Views/Shared/_LayoutVendedor.cshtml";
}

<main>
    <h2 class="mt-4">Mis Productos Disponibles</h2><hr />

    <div class="row">
        @foreach (var prod in Model.Productos)
        {
            <div class="col-3">
                <div class="card">
                    @if (Model.Imagenes.FirstOrDefault(img => img.Producto_IdProducto == prod.IdProducto)?.Imagen != null)
                    {
                        <img class="card-img-top"
                             src="data:image/jpeg;base64,@Convert.ToBase64String(Model.Imagenes.FirstOrDefault(img => img.Producto_IdProducto == prod.IdProducto).Imagen)"
                             alt="@prod.Modelo" style="width:286px; height:180px;">
                    }
                    else
                    {
                        <div class="bg-secondary d-flex justify-content-center align-items-center"
                             style="width:286px; height:180px;">
                            <span class="h4">No Imagen</span>
                        </div>
                    }
                    <div class="card-body">
                        <h5 class="card-title"><a href="@Url.Action("IndexVendedor", "Producto", new { id = prod.IdProducto })">@prod.Modelo</a></h5>
                        <p class="card-text">Marca: @prod.Marca.Nombre</p>
                        <p class="card-text">Precio: @prod.Precio</p>
                        <p class="card-text">Color: @prod.Color</p>
                    </div>
                </div>
            </div>
        }
    </div>

    <h2 class="mt-4">Agregar Productos</h2><hr />
    <div class="col-md-offset-2 col-md-10">
        <a href="@Url.Action("Add", "Producto")" class="btn btn-primary">Agregar</a>
    </div>

</main>

