@model List<ParqueoULACIT.Models.TableViewModel.Ocupacion>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2 class="titulo">Ocupaciones por Parqueo</h2>

<body>

    @foreach (var ocupacion in Model)
    {
        <h3 class="titulo-parqueo">Parqueo: @ocupacion.NombreParqueo</h3>
        <div class="parqueo">

            <table class=" table table-striped">
                <thead>
                    <tr>
                        <th>Tipo de Espacio</th>
                        <th>Capacidad Total</th>
                        <th>Espacios Ocupados</th>
                        <th>Espacios Disponibles</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var tipo in ocupacion.EspaciosOcupados)
                    {
                        <tr>
                            <td>@tipo[0]</td> <!-- Nombre del Tipo de Espacio -->
                            <td>@tipo[1]</td> <!-- Capacidad Total -->
                            <td>@tipo[2]</td> <!-- Espacios Ocupados -->
                            <td>@tipo[3]</td> <!-- Espacios Disponibles -->
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }

</body>



<style>



    @@font-face {
        font-family: 'body';
        src: url('@Url.Content("~/Content/Font/Roboto-Regular.otf")') format('opentype');
        font-weight: normal;
        font-style: normal;
    }

    .parqueo {
    width:90%;
    margin-bottom: 30px;





    }

    .titulo-parqueo {
        position: relative;
        display: inline-block;
        margin-bottom: 30px;
        font-size: 1.5em;
        color: white;
        z-index: 1;
        padding: 15px 30px; /* Más espacio para acomodar la flecha */

        border-top: 20px solid transparent;
        border-bottom: 20px solid transparent; /* 40px height (20+20) */
        border-left: 20px solid #6f42c1 !important
    }

    .titulo-parqueo:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #6f42c1;
        z-index: -1;
        animation: slideIn 3s forwards;
        border-top: 20px solid transparent;
        border-bottom: 20px solid transparent; /* 40px height (20+20) */
        border-left: 20px solid #6f42c1 !important
    }

        .titulo-parqueo:after {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            width: 0;
            height: 0;
            z-index: -1;
            width: 0;
            height: 0;
        }



    /* Title animation */
    .titulo {
        position: relative;
        display: inline-block;
        margin-bottom: 30px;
        font-size: 2.5em;
        color: white;
        z-index: 1;
        padding: 15px 30px; /* Más espacio para acomodar la flecha */
        width:100%;
        border-top: 20px solid transparent;
        border-bottom: 20px solid transparent; /* 40px height (20+20) */
        border-left: 20px solid #6f42c1 !important
    }

      .titulo:before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: #6f42c1;
          z-index: -1;
          animation: slideIn 3s forwards;
          border-top: 20px solid transparent;
          border-bottom: 20px solid transparent; /* 40px height (20+20) */
          border-left: 20px solid #6f42c1 !important
      }

      .titulo:after {
          content: "";
          position: absolute;
          top: 0;
          right: 0;
          width: 0;
          height: 0;
          z-index: -1;
          width: 0;
          height: 0;
      }

  @@keyframes slideIn {
      from {
          left: -100%;
      }

      to {
          left: 0;
      }
  }


  /* Custom card style for form container */
    .card {
        padding: 60px;
        margin-top: 70px;
        align-items: center;
        width: 49%;
        margin: auto;
        display: flex;
        color: white;
        text-align:center;
        background: rgb(14 11 16 / 43%);
        /* backdrop-filter: blur(10px); */
        border-radius: 1rem;
        border: 1px solid rgb(201 0 255 / 50%);
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
        /* flex-direction: row; */
        margin-bottom: 30px;
    }
  /* Estilos personalizados para la barra de navegación */
  .navbar {
      background: linear-gradient(to left, #ffffff00 0%, #6f2c91 100%);
  }

  .navbar-nav .nav-link {
      color: #fff !important; /* Texto blanco */
      font-weight: 500; /* Levele de peso en el texto */
      transition: color 0.3s ease, background-color 0.3s ease; /* Transiciones suaves */
  }

      .navbar-nav .nav-link:hover {
          color: #fff !important; /* Mantener texto blanco */
          background-color: #9c4dcc; /* Color morado más claro en hover */
          border-radius: 5px; /* Bordes redondeados al hacer hover */
      }

  .navbar-brand {
      color: #fff !important; /* Color blanco para la marca */
      font-size: 1.5rem; /* Tamaño de fuente más grande */
      font-weight: bold; /* Negrita para el texto */
  }

  .navbar-toggler {
      border-color: #fff; /* Color blanco para el botón de navegación */
  }

  .navbar-toggler-icon {
      background-color: #fff; /* Color blanco para el icono de menú */
  }

  .btn-outline-secondary {
      border-color: #fff; /* Borde blanco para el botón de cerrar sesión */
      color: #fff; /* Texto blanco */
      transition: color 0.3s ease, border-color 0.3s ease; /* Transiciones suaves */
  }

      .btn-outline-secondary:hover {
          background-color: #9c4dcc; /* Fondo morado al hacer hover */
          border-color: #9c4dcc; /* Borde morado al hacer hover */
          color: #fff; /* Texto blanco */
      }

  .navbar-collapse {
      justify-content: flex-end; /* Alineación a la derecha */
  }

  @@font-face {
      font-family: 'body';
      src: url('@Url.Content("~/Content/Font/Roboto-Regular.otf")') format('opentype');
      font-weight: normal;
      font-style: normal;
  }

    body {
        margin: 0;
        padding: 0;
        color: black;
        font-family: 'body';
        background-image: url('@Url.Content("~/Content/images/parqueoAdmin20.jpg")');
        background-size: cover;
        background-repeat: round;
        background-attachment: fixed;
        background-color: black;
        backdrop-filter: blur(4px);
    }



  .btn-primary {
      background-color: #6f42c1;
      border: none;
      transition: background-color 0.3s ease;
  }

  .btn-primary:hover {
      background-color: #5a32a3;
  }


    /*ESTILOS DE TABLA*/
    .table-striped > tbody > tr:nth-of-type(odd) > * {
        color: white !important;
        --bs-table-color-type: var(--bs-table-striped-color);
        --bs-table-bg-type: var(--bs-table-striped-bg);
    }

    .table-striped > tbody > tr:nth-of-type(odd) > * {
        --bs-table-accent-bg: var(--bs-table-striped-bg);
        /* color: var(--bs-table-striped-color); */
    }

    table.table-striped th, table.table-striped td {
        /* padding: 15px; */
        background-color: rgba(255, 255, 255, 0.2);
        color: #fff;
    }

    .table > :not(caption) > * > * {
        /* padding: .5rem .5rem; */
        /* color: var(--bs-table-color-state, var(--bs-table-color-type, var(--bs-table-color))); */
        /* background-color: var(--bs-table-bg); */
        /* border-bottom-width: var(--bs-border-width); */
        /* box-shadow: inset 0 0 0 9999px var(--bs-table-bg-state, var(--bs-table-bg-type, var(--bs-table-accent-bg))); */
    }

    .table > thead {
        background-color: #6f42c1 !important;
    }

    .table > tbody {
        background-color: #000000cc;
    }

    .table > :not(caption) > * > * {
        font-size: large;
        font-weight: bold;
        text-align: center;
        padding: 0.5rem 0.5rem;
        background-color: var(--bs-table-bg);
        border-bottom-width: 1px;
        box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);
    }

    tbody, td, tfoot, th, thead, tr {
        border-color: inherit;
        border-style: solid;
        border-width: 0;
    }

    thead, tbody, tfoot, tr, td, th {
        border-color: inherit;
        border-style: solid;
        border-width: 0;
    }



    *, ::after, ::before {
        box-sizing: border-box;
    }

        *, *::before, *::after {
            box-sizing: border-box;
        }

    user agent stylesheet
    td {
        display: table-cell;
        vertical-align: inherit;
        unicode-bidi: isolate;
    }

    table.table-striped {
        width: 100%;
        border-collapse: collapse;
        overflow: hidden;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    }



</style>

